<form class="form-horizontal" method="POST" action="{{ url_for('views.story', story_id=story.id) }}">
    {{ form.csrf_token }}

    <div class="row">
        <div class="form-inline">
            {% if form.description.errors %}
                <div class="form-group has-error col-sm-12">
            {% else %}
                <div class="form-group col-sm-12">
            {% endif %}
                <h4>
                    Description<span class="required-color">*</span>
                    <small><span class="pull-right"><span class="required-color">* indicates required</span></small>
                </h4>
                {{ form.description(class="form-control") }}
                {% if form.description.errors %}
                    {% for error in form.description.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
                </div>
        </div>
    </div>

    <div class="row">
        <div class="form-inline">
            {% if form.event_type.errors %}
                <div class="form-group has-error col-sm-12">
            {% else %}
                <div class="form-group col-sm-12">
            {% endif %}
                <h4>Type of event</h4>
                {{ form.event_type(class="form-control") }}
                {% if form.event_type.errors %}
                    {% for error in form.event_type.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
                </div>
        </div>
    </div>

    <div class="row mg-bottom-md">
        <div class="form-inline">
            {% if form.significance.errors %}
                <div class="form-group has-error col-sm-12">
            {% else %}
                <div class="form-group col-sm-12">
            {% endif %}
                <h4>Significance</h4>
                {{ form.significance(class="form-control") }}
                {% if form.significance.errors %}
                    {% for error in form.significance.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
                </div>
        </div>
    </div>

    {% include 'partials/event_time_place_type.html' %}
    {% include 'partials/event_people_organizations.html' %}

    <div class="row">
      <div class="form-group col-sm-12">
          <br>
          <button class="btn btn-primary btn-block" type="submit">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Create
          </button>
      </div>
    </div>
</form>
