{% if event.event_type_id or event.significance or event.people or event.organizations %}
  {% if event.significance %}
    <div class='col-sm-12'>
      <h4>Significance</h4>
      {{ event.significance }}
    </div>
  {% endif %}

  {% if event.people %}
    <div class="col-sm-12">
      <h4>Related people</h4>
      {% for person in event.people %}
        <p>{{ person.name }}</p>
      {% endfor %}
    </div>
  {% endif %}

  {% if event.organizations %}
    <div class="col-sm-12">
      <h4>Related organizations</h4>
      {% for org in event.organizations %}
        <p>{{ org.name }}</p>
      {% endfor %}
    </div>
  {% endif %}

{% else %}
    <div class="col-sm-12">
      <p><em>This event does not have any related entities.</em></p>
    </div>
{% endif %}

