{% extends 'base.html' %}
{% block title %}OCCRP{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h3>{{ story.title }}</h3>
        <p>Last update: <strong>{{ story.updated_at.strftime('%Y %B %d @ %H:%M') }}</strong></p>
        <p><a class="btn btn-purple" href="{{ url_for('views.index')}}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Return to stories list</a> </p>
    </div>
</div>

{% if story.events %}
<div class="row">
    <div class="col-md-12">
        <h3>Events</h3>
        <form class="input-group margin-btm" type="get" action="{{ url_for('views.story', story_id=story.id)}}">
            <input class="form-control update" id="q" type="text" name="q"  placeholder="Search events..." value={% if query %}'{{query}}'{% endif %}>
            <span class="input-group-btn">
                <button class="btn btn-primary update" id="search_submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Submit</button>
            </span>
            <span class="input-group-btn">
                <a href='{{ url_for('views.story', story_id=story.id)}}' class="btn btn-purple update"><i class="fa fa-repeat" aria-hidden="true"></i> Reset</a>
            </span>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <!-- Facet panel -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for facet in facets %}
                {% include 'partials/facets.html' %}        
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8">
        {% if query %}
            <p>Showing <span class="badge">{{ events|length }}</span> search result(s) for "{{ query }}"</p>
        {% endif %}
        <table class="table table-bordered">
            <thead class="thead-default">
                <tr>
                    <th class="story-width">
                        <a href="{{url_for('views.story', story_id=story.id)}}?{{ request|query_transform(order_by='title', sort=toggle_order) }}">
                            Title
                            {% if order_by == 'title' %}
                                {{ toggle_order|get_sort_icon|safe }}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{url_for('views.story', story_id=story.id)}}?{{ request|query_transform(order_by='start_date', sort=toggle_order) }}">
                            Start date
                            {% if order_by == 'start_date' %}
                                {{ toggle_order|get_sort_icon|safe }}
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a href="{{url_for('views.story', story_id=story.id)}}?{{ request|query_transform(order_by='end_date', sort=toggle_order) }}">
                            End date
                            {% if order_by == 'end_date' %}
                                {{ toggle_order|get_sort_icon|safe }}
                            {% endif %}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr class="detailsControl">
                        <td><i class="fa fa-chevron-circle-right" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true" style="display: none;"></i> {{ event.title }}</td>
                        {% if event.start_date_accuracy == 4 %}
                            <td>{{ event.start_date|format_date('%Y') }}</td>
                        {% elif event.start_date_accuracy == 3 %}
                            <td>{{ event.start_date|format_date('%B %Y')}}</td>
                        {% elif event.start_date_accuracy == 2 %}
                            <td>{{ event.start_date|format_date('%d %B %Y')}}</td>
                        {% elif event.start_date_accuracy == 1 %}
                            <td>{{ event.start_date|format_date('%d %B %Y %H:%M')}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if event.end_date_accuracy == 4 %}
                            <td>{{ event.end_date|format_date('%Y') }}</td>
                        {% elif event.end_date_accuracy == 3 %}
                            <td>{{ event.end_date|format_date('%B %Y')}}</td>
                        {% elif event.end_date_accuracy == 2 %}
                            <td>{{ event.end_date|format_date('%d %B %Y')}}</td>
                        {% elif event.end_date_accuracy == 1 %}
                            <td>{{ event.end_date|format_date('%d %B %Y %H:%M')}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan='3' style='display: none;'>
                            <div class="row flyout-row">
                                {% include 'partials/fly_out.html' %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Add an event and related people, organizations, and sources to this story</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include 'partials/event_form.html' %}
    </div>
</div>
{% endif %}

{% endblock %}
