/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-size: 16px;
}

/* Variables */
:root {
  --purple-shade: #76323f;
}

/* ===== GLOBAL ===== */
table, label,.control-label,.help-block,.checkbox,.radio { font-size: 14px; }

.alert { font-size: 1em; font-weight: 500; }

.alert-dismissable, .alert-dismissible  { 
  background-color: #EBFAFF;
  border-color: #D6F5FF;
}

.label:hover { text-decoration: none; }

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.btn-purple {
  background-color: var(--purple-shade);
  color: #fff;
}

.btn-purple:focus {
  background-color: var(--purple-shade);
  color: #fff;
}

.btn-purple:hover {
  background-color: #8F3D4C;
  color: #fff;
}

/* Everything gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Resuable atomic labels */
.margin-btm { margin-bottom: 1em; }

/* ===== INDEX ===== */
div.story-form-head {
  background-color: var(--purple-shade);
  color: #fff;
}

div.story-form-head h3 {
  margin-bottom: 21px;
}

div.story-form-body {
  background-color: #efefef;
}

div.story-form-input {
  margin-top: 3em;
  margin-bottom: 3em;
}

.story-width { width: 60%; }
.updated-width { width: 20%; }
.created-width { width: 20%; }

/* ===== STORY DETAIL ===== */
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-inline .form-control {
  width: 100%;
}

div.panel-body > li { list-style: none; }

.panel-group .panel { margin-bottom: 5px; }

.thead-default { background-color: #f5f5f5; }

.input-group-btn > .btn, .input-group-btn:last-child>.btn, .input-group-btn:last-child > .btn-group { 
  margin-left: 4px; 
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.nowrap { white-space:nowrap; }

/* Datepicker styles */
.ui-widget {
    font-size: 0.9em;
}

.ui-datepicker {
    width: 22.5%;
    height: auto;
}

.ui-datepicker table {
    width: 100%;
    background-color: #fff;
}

.ui-datepicker table td,
.ui-datepicker table th {
    padding: 0;
}

.ui-datepicker-header {
    color: #333;
    background-color: #DDD;
    font-weight: bold;
}

.ui-datepicker-title {
    text-align: center;
    line-height: 30px;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
    cursor: pointer;
}

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
    margin-right: 5px;
}

.ui-datepicker-next:after {
    content: "";
    border-color: rgba(0,0,0,0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #333;
    border-image: none;
    border-style: solid;
    border-width: 9px;
    display: block;
    height: 0;
    margin-top: 5px;
    width: 0;
}
.ui-datepicker-prev:before {
    content: "";
    border-color: rgba(0,0,0,0) #333 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 9px;
    display: block;
    height: 0;
    margin-top: 5px;
    width: 0;
}

.ui-datepicker th {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
}

.ui-datepicker tbody td {
    border-right: none;
    text-align: center;
    padding: 3px 0;
}
.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px
}

.ui-tooltip {
    width: 25%;
    overflow: hidden;
}

/* Response */
.response-table {
    width: 100%;
}